In [4]:
import pandas as pd
import psycopg2
import matplotlib.pyplot as plt
import matplotlib.ticker as ticker
import numpy as np
import seaborn as sns 
import statsmodels.stats.proportion as proportion
from scipy.stats import ttest_ind,mannwhitneyu,shapiro,norm
from statsmodels.stats.weightstats import ztest
from tqdm import tqdm
import timeit
from scipy import stats
import math
from datetime import date, datetime, timedelta
import time
from sqlalchemy import create_engine, text
from sqlalchemy.orm import sessionmaker
import warnings
warnings.filterwarnings("ignore")
import clickhouse_connect  



from credential import postgres_secret,clickhouse_dwh_secret

def get_engine(user):
    if user == postgres_secret['user']:
        db_name = postgres_secret['db_name']
        password = postgres_secret['password']
        host = postgres_secret['host']
        engine = create_engine(f'postgresql://{user}:{password}@{host}:6432/{db_name}')
    elif user == clickhouse_dwh_secret['user']:
            db_name = clickhouse_dwh_secret['db_name'] 
            password = clickhouse_dwh_secret['password']
            host = clickhouse_dwh_secret['host']
            engine = create_engine(f'clickhouse://{user}:{password}@{host}:8123/{db_name}')
    return engine
    
connection_clickhouse = clickhouse_connect.get_client(
    host = clickhouse_dwh_secret['host'],
    port= '8123',
    username = clickhouse_dwh_secret['user'],
    password = clickhouse_dwh_secret['password'],
    database='datamarts'
    )

    
def execute(SQL, user):
    start_time = time.time()  # запоминаем время начала выполнения функции
    engine = get_engine(user)
    Session = sessionmaker(bind=engine)  # sessions factory ()
    with Session() as session: # open session
        result = session.execute(text(SQL))
        df = pd.DataFrame(result.fetchall(), columns=result.keys())
        
    end_time = time.time()  # запоминаем время окончания выполнения функции
    execution_time = round(end_time - start_time,4) # вычисляем время выполнения   
    
    print(f"Время выполнения функции: {execution_time} секунд")
    print()
    return df

In [ ]:
query = f''' 
truncate table datamarts.financial_activity_local on cluster 'viasat_cluster' '''
df = execute(query,user = 'kmekhtiev')

query = f''' 
insert into datamarts.financial_activity_local
WITH money_table AS (
	SELECT 
		subscription_id,
		platform,
		toFloat32(i.price_cents) AS price_cents,
		i.price_currency AS price_currency,
		round(multiIf(
				price_currency = 'USD', price_cents * 90,			-- исправить хардкод
	    		price_currency = 'AMD', price_cents / 4.2,			-- исправить хардкод
				price_cents)
				, 2) as rubles,
		s.user_id AS user_id,
		s.created_at AS sub_create_ts,
		paid_at
	from product_x.invoices i 
	left join product_x.subscriptions s
		on s.id = i.subscription_id 
	LEFT JOIN product_x.users u ON u.id = s.user_id
	where 
		toDate(paid_at) >= '2023-09-01' 
        AND i.state in ('success')
        AND s.state in ('normal_period','trial','canceled','grace_period')
        AND price_cents > 100
        AND u.user_type = 'regular'
		AND 
		    (
		        (u.email NOT ILIKE '%%@test%%' AND u.email NOT ILIKE '%%@viasat%%')
		    OR
		    (u.email IS NULL AND u.phone_number IS NOT NULL)
		)
		AND u.vipplay = FALSE
),

sums AS (
	SELECT DISTINCT
		user_id,
		toDate(paid_at) as paid_date,
		toStartOfWeek(paid_at, 1) as paid_week,
		toStartOfMonth(paid_at) as paid_month,
		platform,
		sum(rubles/100) over(PARTITION BY user_id, paid_date) AS total_sum_by_day,
		sum(rubles/100) over(PARTITION BY user_id, paid_week) AS total_sum_by_week,
		sum(rubles/100) over(PARTITION BY user_id, paid_month) AS total_sum_by_month,
		
		sum(rubles/100) over(PARTITION BY user_id, platform, paid_date) AS platform_sum_by_day,
		sum(rubles/100) over(PARTITION BY user_id, platform, paid_week) AS platform_sum_by_week,
		sum(rubles/100) over(PARTITION BY user_id, platform, paid_month) AS platform_sum_by_month
	from money_table
	order by user_id, paid_date
),

users_info AS (
	SELECT DISTINCT
		user_id,
		multiIf(
			device='web' and device_os in ('iOS', 'Android'), 'web_mobile',
			device='web' and device_os not in ('iOS', 'Android'), 'web_desktop',
			device like '%android%', 'android',
			device='tv' and device_os = 'Android', 'android_tv',
			device='tv' and device_os != 'Android', 'smart_tv',
			device) as reg_device,
		if(free_days in (0,3,14,30,35,45), toString(free_days), 'other') AS free_days,
		reg_date,
		reg_source,
		reg_medium,
		reg_campaign,
		if(promo_type = 'cards', 'b2b', 'b2c') as b2b_b2c
	from datamarts.marketing_dash_distr
),

joins AS (
	SELECT
		ui.*,
		sums.* except (user_id),
		if(
			sum(total_sum_by_day) OVER (partition by user_id, paid_date) > 1, 1, 0) as payer_day_flag,
		if(
			sum(total_sum_by_week) OVER (partition by user_id, paid_week) > 1, 1, 0) as payer_week_flag,
		if(
			sum(total_sum_by_month) OVER (partition by user_id, paid_month) > 1, 1, 0) as payer_month_flag
	FROM users_info as ui
	LEFT JOIN sums ON  ui.user_id = sums.user_id
),

final_table as (
	SELECT
		* EXCEPT(paid_week, paid_month),
		IF (paid_date = '1970-01-01' and total_sum_by_day = 0, reg_date, paid_date) AS main_date,
		IF (paid_week = '1970-01-01' and total_sum_by_week = 0, toStartOfWeek(reg_date, 1), paid_date) AS main_week, 
		IF (paid_month = '1970-01-01' and total_sum_by_month = 0, toStartOfMonth(reg_date), paid_month) AS main_month
	FROM joins
	WHERE main_date >= '2023-09-01'
)

SELECT DISTINCT 
    user_id,
    reg_date,
    paid_date,
	main_date,
    main_week, 
    main_month,
    reg_device,
    free_days,
    reg_source,
    reg_medium,
    reg_campaign,
    b2b_b2c,
    platform,
    total_sum_by_day,
    total_sum_by_week,
    total_sum_by_month,
    platform_sum_by_day,
    platform_sum_by_week,
    platform_sum_by_month,
    payer_day_flag,
    payer_week_flag,
    payer_month_flag
FROM final_table
'''

execute(query,user = 'kmekhtiev')

In [ ]:
query = '''CREATE TABLE datamarts.finance_local ON CLUSTER 'viasat_cluster'
            (
                paid_date Date,
                subscription_id UUID,
                user_id UUID,
                platform String,
                price_currency String,
                free_days String,
                reg_device String,
                reg_date Date,
                reg_source String,
                reg_medium String,
                reg_campaign String,
                b2b_b2c String,
                payment Int
                )
             ENGINE = ReplicatedMergeTree('/clickhouse/tables/{shard}/finance_local', '{replica}')
             ORDER BY paid_date
             '''
execute(query,user = 'kmekhtiev')

In [ ]:
query = f'''CREATE TABLE datamarts.finance ON CLUSTER 'viasat_cluster'
            (
                paid_date Date,
                subscription_id UUID,
                user_id UUID,
                platform String,
                price_currency String,
                free_days String,
                reg_device String,
                reg_date Date,
                reg_source String,
                reg_medium String,
                reg_campaign String,
                b2b_b2c String,
                payment Int
                )
             
             ENGINE = Distributed(viasat_cluster, datamarts, finance_local, rand())
             '''
execute(query,user = 'kmekhtiev')

In [17]:
list_date = pd.date_range("2025-01-01", "2025-01-28", freq='D')
result = []
for date in list_date:
    date_str = date.strftime('%Y-%m-%d')
    query_delete = f" DELETE FROM datamarts.finance_local ON CLUSTER 'viasat_cluster' WHERE paid_date = '{date}'::date"
    execute(query_delete,user = 'kmekhtiev')
    print(f" Дата {date_str} удалена из таблицы")
    query = f''' INSERT INTO datamarts.finance
WITH money_table AS(SELECT 
                        paid_at::date AS paid_date,
                        user_id,
                        subscription_id,
                        platform,
                        i.price_cents AS price_cents,
                        i.price_currency AS price_currency,
                        CASE WHEN i.price_currency='USD' THEN i.price_cents*usd_value/100
                             WHEN i.price_currency='AMD' THEN i.price_cents*amd_value/100
                             ELSE i.price_cents/100
                        END bill,
                        usd_value,
                        amd_value
                        FROM  product_x.invoices i
                        LEFT JOIN product_x.subscriptions s ON s.id = i.subscription_id
                        LEFT JOIN product_x.users u ON u.id = s.user_id
                        LEFT JOIN raw.external__exchange_rate e ON e.extract_date=i.paid_at::date
                        WHERE u.user_type = 'regular'
                        AND u.vipplay = FALSE
                        AND s.state in ('normal_period','trial','canceled','grace_period')
                        AND i.paid_at::date='{date}'::date
                        AND i.state in ('success')
                        AND ((u.email NOT ILIKE '%%@test%%' AND u.email NOT ILIKE '%%@viasat%%') OR (u.email IS NULL AND u.phone_number IS NOT NULL))
                        AND i.price_cents > 100
                       ),
users_info AS (SELECT
                    user_id,
                    multiIf(
                            device='web' AND device_os IN ('iOS', 'Android'), 'web_mobile',
                            device='web' AND device_os NOT IN ('iOS', 'Android'), 'web_desktop',
                            device LIKE '%android%', 'android',
                            device='tv' AND device_os = 'Android', 'android_tv',
                            device='tv' AND device_os != 'Android', 'smart_tv',
                            device) AS reg_device,
                    IF(free_days IN (0,3,14,30,35,45), toString(free_days), 'other') AS free_days,
                    reg_date,
                    reg_source,
                    reg_medium,
                    reg_campaign,
                    IF(promo_type = 'cards', 'b2b', 'b2c') as b2b_b2c
                    FROM datamarts.marketing_dash
                    )

SELECT
paid_date,
subscription_id,
m.user_id AS user_id,
platform,
price_currency,
free_days,
reg_device,
reg_date,
reg_source,
reg_medium,
reg_campaign,
b2b_b2c,
sum(bill) AS payment
FROM money_table AS m
LEFT JOIN users_info AS i ON i.user_id=m.user_id
GROUP BY 1,2,3,4,5,6,7,8,9,10,11,12
'''
    
    df_temp = execute(query,user = 'kmekhtiev')   
    result.append(df_temp)
    print(f"""Дата '{date_str}' загружена""")
    print()

Время выполнения функции: 8.0571 секунд

 Дата 2025-01-01 удалена из таблицы
Время выполнения функции: 10.4706 секунд

Дата '2025-01-01' загружена

Время выполнения функции: 7.8653 секунд

 Дата 2025-01-02 удалена из таблицы
Время выполнения функции: 9.6407 секунд

Дата '2025-01-02' загружена

Время выполнения функции: 2.0501 секунд

 Дата 2025-01-03 удалена из таблицы
Время выполнения функции: 10.1611 секунд

Дата '2025-01-03' загружена

Время выполнения функции: 12.4137 секунд

 Дата 2025-01-04 удалена из таблицы
Время выполнения функции: 9.5734 секунд

Дата '2025-01-04' загружена

Время выполнения функции: 8.8415 секунд

 Дата 2025-01-05 удалена из таблицы
Время выполнения функции: 9.1113 секунд

Дата '2025-01-05' загружена

Время выполнения функции: 9.6055 секунд

 Дата 2025-01-06 удалена из таблицы
Время выполнения функции: 9.5135 секунд

Дата '2025-01-06' загружена

Время выполнения функции: 1.07 секунд

 Дата 2025-01-07 удалена из таблицы
Время выполнения функции: 8.8104 секунд

Дата '2025-01-07' загружена

Время выполнения функции: 1.0765 секунд

 Дата 2025-01-08 удалена из таблицы
Время выполнения функции: 8.9578 секунд

Дата '2025-01-08' загружена

Время выполнения функции: 1.074 секунд

 Дата 2025-01-09 удалена из таблицы
Время выполнения функции: 9.0346 секунд

Дата '2025-01-09' загружена

Время выполнения функции: 7.675 секунд

 Дата 2025-01-10 удалена из таблицы
Время выполнения функции: 9.0959 секунд

Дата '2025-01-10' загружена

Время выполнения функции: 1.0044 секунд

 Дата 2025-01-11 удалена из таблицы
Время выполнения функции: 9.9505 секунд

Дата '2025-01-11' загружена

Время выполнения функции: 7.2232 секунд

 Дата 2025-01-12 удалена из таблицы
Время выполнения функции: 9.2577 секунд

Дата '2025-01-12' загружена

Время выполнения функции: 1.2331 секунд

 Дата 2025-01-13 удалена из таблицы
Время выполнения функции: 8.8952 секунд

Дата '2025-01-13' загружена

Время выполнения функции: 7.8057 секунд

 Дата 2025-01-14 удалена из таблицы
Время выполнения функции: 9.4878 секунд

Дата '2025-01-14' загружена

Время выполнения функции: 8.5767 секунд

 Дата 2025-01-15 удалена из таблицы
Время выполнения функции: 9.181 секунд

Дата '2025-01-15' загружена

Время выполнения функции: 4.4876 секунд

 Дата 2025-01-16 удалена из таблицы
Время выполнения функции: 9.2145 секунд

Дата '2025-01-16' загружена

Время выполнения функции: 8.8319 секунд

 Дата 2025-01-17 удалена из таблицы
Время выполнения функции: 8.8806 секунд

Дата '2025-01-17' загружена

Время выполнения функции: 8.172 секунд

 Дата 2025-01-18 удалена из таблицы
Время выполнения функции: 9.2355 секунд

Дата '2025-01-18' загружена

Время выполнения функции: 5.3305 секунд

 Дата 2025-01-19 удалена из таблицы
Время выполнения функции: 9.1218 секунд

Дата '2025-01-19' загружена

Время выполнения функции: 3.1487 секунд

 Дата 2025-01-20 удалена из таблицы
Время выполнения функции: 9.4339 секунд

Дата '2025-01-20' загружена

Время выполнения функции: 5.3209 секунд

 Дата 2025-01-21 удалена из таблицы
Время выполнения функции: 8.9541 секунд

Дата '2025-01-21' загружена

Время выполнения функции: 17.4642 секунд

 Дата 2025-01-22 удалена из таблицы
Время выполнения функции: 9.3505 секунд

Дата '2025-01-22' загружена

Время выполнения функции: 8.5112 секунд

 Дата 2025-01-23 удалена из таблицы
Время выполнения функции: 9.3491 секунд

Дата '2025-01-23' загружена

Время выполнения функции: 7.9569 секунд

 Дата 2025-01-24 удалена из таблицы
Время выполнения функции: 9.2114 секунд

Дата '2025-01-24' загружена

Время выполнения функции: 1.6311 секунд

 Дата 2025-01-25 удалена из таблицы
Время выполнения функции: 8.5996 секунд

Дата '2025-01-25' загружена

Время выполнения функции: 1.0907 секунд

 Дата 2025-01-26 удалена из таблицы
Время выполнения функции: 9.1285 секунд

Дата '2025-01-26' загружена

Время выполнения функции: 7.4634 секунд

 Дата 2025-01-27 удалена из таблицы
Время выполнения функции: 20.5161 секунд

Дата '2025-01-27' загружена

Время выполнения функции: 2.9094 секунд

 Дата 2025-01-28 удалена из таблицы
Время выполнения функции: 16.8344 секунд

Дата '2025-01-28' загружена

In [ ]:
%%timeit
df = pd.DataFrame([('Python','6'),('Python','8'),('ML','20'),('Deeplearning','10')],columns = ['block','lessons'])
result = []
for i in range(1,len(df)+1):
    result.append(f'coursera_{i}')
    
df['number']=result

In [ ]:
%%timeit
df = pd.DataFrame([('Python','6'),('Python','8'),('ML','20'),('Deeplearning','10')],columns = ['block','lessons'])
result = []
for i in range(1,df.shape[0]+1):
    result.append(f'coursera_{i}')
    
df['number']=result

In [ ]:
x = np.arange(-100,100)
y = x**2

plt.plot(x,y)

In [ ]:
query = '''
SELECT 
paid_at::date AS paid_date,
user_id,
subscription_id,
platform,
i.price_cents AS price_cents ,
i.price_currency AS price_currency,
CASE WHEN i.price_currency='USD' THEN i.price_cents*usd_value/100
     WHEN i.price_currency='AMD' THEN i.price_cents*amd_value/100
     ELSE i.price_cents/100
END payment,
usd_value,
amd_value
FROM  product_x.invoices i
LEFT JOIN product_x.subscriptions s ON s.id = i.subscription_id
LEFT JOIN product_x.users u ON u.id = s.user_id
LEFT JOIN raw.external__exchange_rate e ON e.extract_date=i.paid_at::date
WHERE u.user_type = 'regular'
AND u.vipplay = FALSE
AND s.state in ('normal_period','trial','canceled','grace_period')
AND i.paid_at::date>='2024-01-01'
AND i.state in ('success')
AND ((u.email NOT ILIKE '%%@test%%' AND u.email NOT ILIKE '%%@viasat%%') OR (u.email IS NULL AND u.phone_number IS NOT NULL))
AND i.price_cents > 100
'''

df = execute(query,user='kmekhtiev')

In [ ]:
df['platform'].unique()

In [ ]:
df.groupby('price_currency')['price_cents'].sum()

In [ ]:
df_agg = df.groupby(['paid_date','price_currency','platform'],as_index=False).agg({'user_id':'nunique','payment':'sum'})

df_agg = df_agg[df_agg['price_currency'].isin(['USD'])]
plt.figure(figsize=(15,8))

sns.lineplot(data=df_agg,x='paid_date',y='payment',hue='price_currency')

In [ ]:
df_agg