In [2]:
from sqlalchemy import create_engine
import numpy as np
import pandas as pd
pd.set_option('display.max_columns', None)
from tqdm import tqdm_notebook
from datetime import datetime

con = create_engine("postgresql+psycopg2://product_x_ro:9sNDZKJM5taKHfKZsoFvQMsMbtgSef@rc1a-yiz11yr42igms5a6.mdb.yandexcloud.net:6432/product_x")
con.connect()

engine = create_engine("clickhouse://abelyaev:Fcx5GP-X9J@10.129.0.10:8123/events")
engine.connect()

al = create_engine("clickhouse://superset:FmnaRL3cC6wnTkn@10.129.11.136:8123/superset")
al.connect()

#### 2024 edition

In [5]:
# DAU
def daily(table='2023-03-24'):
    dau = pd.read_sql(f'''
    select 
        count(distinct profile_id) as count
    from datamarts.dash_table_distr
    where client_type not in ('backend', 'testing')
    and date = '{table}'
    ''', con=al)
    return dau['count'].values[0]


def registrations(date='2023-01-10'):
    regs = pd.read_sql(f'''
    select 
        count(distinct id) as count
    from users u
    where
        user_type = 'regular'
        and (
            u.email not ilike '%%@test%%' and u.email not ilike '%%@viasat%%' or
            (u.email is null and u.phone_number is not null)
        )
        and cast(u.created_at as date) = '{date}'
    ''', con=con)
    return regs['count'].values[0]


def new_trials(date='2023-01-10'):
    new = pd.read_sql(f'''
    select 
        count(DISTINCT user_id) as count
    from datamarts.marketing_dash_distr 
    where created_at::date = '{date}'
    and promo_type = 'no_promo'
    and state in ('normal_period','trial','canceled')
    ''',con=al)
    return new['count'].values[0]


def new_codes(date='2022-09-25'):
    new = pd.read_sql(f'''
    select 
        count(DISTINCT user_id) as count
    from datamarts.marketing_dash_distr 
    where created_at::date = '{date}'
    and promo_type = 'promo'
    and state in ('normal_period','trial','canceled')
    ''',con=al)
    return new['count'].values[0]


def churned_trials(date='2023-01-02'):
    churned = pd.read_sql(f'''
    select 
        count(DISTINCT user_id) as count
    from datamarts.marketing_dash_distr 
    where ends_at::date = '{date}'
    and promo_type = 'no_promo'
    and state in ('canceled')
    and payer = 0
    ''',con=al)
    return churned['count'].values[0]


def prolonged_trials(date='2023-01-02'):
    new = pd.read_sql(f'''
    select 
        count(DISTINCT user_id) as count
    from datamarts.marketing_dash_distr 
    where first_prolong_date::date = '{date}'
    and promo_type = 'no_promo'
    and state in ('normal_period','trial','canceled')
    and payer = 1
    ''',con=al)
    return new['count'].values[0]

def prolongs_codes(date):
    new = pd.read_sql(f'''
    select 
        count(DISTINCT user_id) as count
    from datamarts.marketing_dash_distr 
    where first_prolong_date::date = '{date}'
    and promo_type = 'promo'
    and state in ('normal_period','trial','canceled')
    and payer = 1
    ''',con=al)
    return new['count'].values[0]


def new_codes_b2b(date='2022-09-25'):
    new = pd.read_sql(f'''
    select 
        count(DISTINCT user_id) as count
    from datamarts.marketing_dash_distr 
    where bonus_activated_at::date = '{date}'
    and promo_type = 'cards'
    and state in ('normal_period','trial','canceled')
    ''',con=al)
    return new['count'].values[0]


def active_codes_recurrent(date='2023-01-02'):
    new = pd.read_sql(f'''
    select 
        count(DISTINCT user_id) as count
    from datamarts.marketing_dash_distr 
    where 
    promo_type = 'promo'
    and state in ('normal_period','trial','canceled')
    and payer = 0
    and renewal_off_date > '{date}'
    ''',con=al)
    return new['count'].values[0]


def churned_codes(date='2023-01-02'):
    new = pd.read_sql(f'''
    select 
        count(DISTINCT user_id) as count
    from datamarts.marketing_dash_distr 
    where ends_at::date = '{date}'
    and promo_type = 'promo'
    and state in ('normal_period','trial','canceled')
    and payer = 0
    ''',con=al)
    return new['count'].values[0]


def dau_paid(date):
    table = 'events_'+date.replace('-','_')
    paid = pd.read_sql(f'''
    select 
        distinct profile_id
    from datamarts.marketing_dash_distr 
    where payer = 1
    and promo_type != 'cards'
    and state in ('normal_period','trial','canceled', 'grace_period')
    and ends_at >= '{date}'
    ''',con=al)
    temp = pd.read_sql(f'''
        select 
            distinct profile_id
        from {table}
        where 
            client_type != 'backend'
    ''', con=engine)
    return temp[temp['profile_id'].isin(paid['profile_id'].astype(str).unique())].shape[0]


def dau_b2b(date):
    table = 'events_'+date.replace('-','_')
    subs = pd.read_sql(f'''
    select 
        distinct profile_id
    from datamarts.marketing_dash_distr 
    where 
    promo_type = 'cards'
    and state in ('normal_period','trial','canceled')
    and bonus_ends_at >= '{date}'
    ''',con=al)
    temp = pd.read_sql(f'''
        select 
            distinct profile_id
        from {table}
        where
        client_type !='backend'
    ''', con=engine)
    return temp[temp['profile_id'].astype(str).isin(subs['profile_id'].astype(str).unique())].shape[0]

def daily_vis(table='2023-03-24'):
    table = 'events_'+table.replace('-','_')
    testers = pd.read_sql('''
    select 
        id, visitor_id
    from users
    where deleted_at is null
    and user_type = 'tester'
    ''', con=con)
    testers['id'] = testers['id'].astype(str)
    dau = pd.read_sql(f'''
    select 
        distinct visitor_id
    from {table}
    where client_type != 'backend'
    ''', con=engine)
    return dau[~dau['visitor_id'].isin(testers['visitor_id'].unique())]['visitor_id'].nunique()


def renewal_off(date):
    df = pd.read_sql(f'''
    select count(distinct user_id) as count
    from datamarts.marketing_dash_distr mdd 
    WHERE 
    renewal_off_date::date = '{date}'
     ''',con=al)
    return df['count'].values[0]


def renewal_off_subs(date):
    df = pd.read_sql(f'''
    select 
	count(distinct user_id) as count
    from datamarts.marketing_dash_distr mdd 
    WHERE 
    renewal_off_date::date = '{date}'
    and payer = 0
    and len < 1
    and state in ('trial','normal_period','canceled','grace_period')
     ''',con=al)
    return df['count'].values[0]


def mau(date):
    df = pd.read_sql(f'''
    select count(DISTINCT profile_id) as count
    from superset.events_distr
    where   
    utc_timestamp::date between date_sub('{date}'::date, interval 29 day) and '{date}'
    and client_type != 'backend' ''',con=al)
    return df['count'].values[0]


def wau(date):
    df = pd.read_sql(f'''
    select count(DISTINCT profile_id) as count
    from superset.events_distr
    where 
    utc_timestamp::date between date_sub('{date}'::date, interval 6 day) and '{date}'
    and client_type != 'backend' ''',con=al)
    return df['count'].values[0]

In [7]:
act = pd.DataFrame()
act['dt'] = pd.date_range(start='08/12/2024', end='08/19/2024')
act['dt'] = act['dt'].apply(lambda x: x.to_pydatetime())
act['vis'] = pd.Series(dtype=int)
act['reg'] = pd.Series(dtype=int)
act['daily'] = pd.Series(dtype=int)
act['wau'] = pd.Series(dtype=int)
act['mau'] = pd.Series(dtype=int)
act['renewal_off'] = pd.Series(dtype=int)
act['renewal_off_subs'] = pd.Series(dtype=int)
act['new_trials'] = pd.Series(dtype=int)
act['prolonged_trials'] = pd.Series(dtype=int)
act['churned_trials'] = pd.Series(dtype=int)
# act['active_codes_recurrent'] = pd.Series(dtype=int)
act['new_codes'] = pd.Series(dtype=int)
act['prolongs_codes'] = pd.Series(dtype=int)
act['churned_codes'] = pd.Series(dtype=int)
act['new_codes_b2b'] = pd.Series(dtype=int)
act['dau_paid'] = pd.Series(dtype=int)
act['dau_b2b'] = pd.Series(dtype=int)


for i, date in tqdm_notebook(enumerate(act['dt'].astype(str).values)):
    act.loc[i, 'vis'] = daily_vis(date)
    act.loc[i, 'reg'] = registrations(date)
    act.loc[i, 'daily'] = daily(date)
    act.loc[i, 'renewal_off'] = renewal_off(date)
    act.loc[i, 'renewal_off_subs'] = renewal_off_subs(date)
    act.loc[i, 'mau'] = mau(date)
    act.loc[i, 'wau'] = wau(date)
    act.loc[i, 'new_trials'] = new_trials(date)
    act.loc[i, 'prolonged_trials'] = prolonged_trials(date)
    act.loc[i, 'churned_trials'] = churned_trials(date)
    # act.loc[i, 'active_codes_recurrent'] = active_codes_recurrent(date)
    act.loc[i, 'new_codes'] = new_codes(date)
    act.loc[i, 'prolongs_codes'] = prolongs_codes(date)
    act.loc[i, 'churned_codes'] = churned_codes(date)
    act.loc[i, 'dau_paid'] = dau_paid(date)
    act.loc[i, 'dau_b2b'] = dau_b2b(date)
    act.loc[i, 'new_codes_b2b'] = new_codes_b2b(date)
    pass


act['vis'] = act['vis'].astype(int)
act['reg'] = act['reg'].astype(int)
act['daily'] = act['daily'].astype(int)
act['mau'] =  act['mau'].astype(int)
act['wau'] =  act['wau'].astype(int)
act['renewal_off'] = act['renewal_off'].astype(int)
act['renewal_off_subs'] = act['renewal_off_subs'].astype(int)
act['new_trials'] = act['new_trials'].astype(int)
act['prolonged_trials'] = act['prolonged_trials'].astype(int)
act['churned_trials'] = act['churned_trials'].astype(int)
# act['active_codes_recurrent'] = act['active_codes_recurrent'].astype(int)
act['new_codes'] = act['new_codes'].astype(int)
act['prolongs_codes'] = act['prolongs_codes'].astype(int)
act['churned_codes'] = act['churned_codes'].astype(int)
act['new_codes_b2b'] = act['new_codes_b2b'].astype(int)
act['dau_paid'] = act['dau_paid'].astype(int)
act['dau_b2b'] = act['dau_b2b'].astype(int)
act.T

/var/folders/sl/4slwjbhd1rz6q3665v1k847c0000gn/T/ipykernel_72904/636092021.py:23: TqdmDeprecationWarning: This function will be removed in tqdm==5.0.0
Please use `tqdm.notebook.tqdm` instead of `tqdm.tqdm_notebook`
  for i, date in tqdm_notebook(enumerate(act['dt'].astype(str).values)):

0it [00:00, ?it/s]

,0,1,2,3,4,5,6,7
dt,2024-08-12 00:00:00,2024-08-13 00:00:00,2024-08-14 00:00:00,2024-08-15 00:00:00,2024-08-16 00:00:00,2024-08-17 00:00:00,2024-08-18 00:00:00,2024-08-19 00:00:00
vis,15661,16373,15450,15899,15345,15598,15558,3395
reg,683,648,602,650,548,605,554,127
daily,2574,2489,2270,2442,2213,2395,2243,448
wau,13453,12645,12163,11643,11218,11047,10746,9606
mau,37250,37296,37309,37384,37310,37373,37304,36623
renewal_off,64,67,68,50,59,58,65,0
renewal_off_subs,54,53,51,24,44,38,54,0
new_trials,50,53,57,64,51,65,171,0
prolonged_trials,15,17,13,14,13,10,18,0
churned_trials,37,35,44,35,36,37,53,6
new_codes,129,118,112,129,95,91,4,0
prolongs_codes,28,48,51,40,31,30,29,0
churned_codes,75,87,90,91,94,92,83,117
new_codes_b2b,29,24,17,16,9,13,0,0
dau_paid,212,233,189,219,179,215,178,40
dau_b2b,191,179,153,168,148,174,140,29

In [8]:
act = pd.DataFrame()
act['dt'] = pd.date_range(start='08/12/2024', end='08/19/2024')
act['dt'] = act['dt'].apply(lambda x: x.to_pydatetime())
act['vis'] = pd.Series(dtype=int)
act['reg'] = pd.Series(dtype=int)
act['daily'] = pd.Series(dtype=int)
act['wau'] = pd.Series(dtype=int)
act['mau'] = pd.Series(dtype=int)
act['renewal_off'] = pd.Series(dtype=int)
act['renewal_off_subs'] = pd.Series(dtype=int)
act['new_trials'] = pd.Series(dtype=int)
act['prolonged_trials'] = pd.Series(dtype=int)
act['churned_trials'] = pd.Series(dtype=int)
# act['active_codes_recurrent'] = pd.Series(dtype=int)
act['new_codes'] = pd.Series(dtype=int)
act['prolongs_codes'] = pd.Series(dtype=int)
act['churned_codes'] = pd.Series(dtype=int)
act['new_codes_b2b'] = pd.Series(dtype=int)
act['dau_paid'] = pd.Series(dtype=int)
act['dau_b2b'] = pd.Series(dtype=int)


for i, date in tqdm_notebook(enumerate(act['dt'].astype(str).values)):
    act.loc[i, 'vis'] = daily_vis(date)
    act.loc[i, 'reg'] = registrations(date)
    act.loc[i, 'daily'] = daily(date)
    act.loc[i, 'renewal_off'] = renewal_off(date)
    act.loc[i, 'renewal_off_subs'] = renewal_off_subs(date)
    act.loc[i, 'mau'] = mau(date)
    act.loc[i, 'wau'] = wau(date)
    act.loc[i, 'new_trials'] = new_trials(date)
    act.loc[i, 'prolonged_trials'] = prolonged_trials(date)
    act.loc[i, 'churned_trials'] = churned_trials(date)
    # act.loc[i, 'active_codes_recurrent'] = active_codes_recurrent(date)
    act.loc[i, 'new_codes'] = new_codes(date)
    act.loc[i, 'prolongs_codes'] = prolongs_codes(date)
    act.loc[i, 'churned_codes'] = churned_codes(date)
    act.loc[i, 'dau_paid'] = dau_paid(date)
    act.loc[i, 'dau_b2b'] = dau_b2b(date)
    act.loc[i, 'new_codes_b2b'] = new_codes_b2b(date)
    pass


act['vis'] = act['vis'].astype(int)
act['reg'] = act['reg'].astype(int)
act['daily'] = act['daily'].astype(int)
act['mau'] =  act['mau'].astype(int)
act['wau'] =  act['wau'].astype(int)
act['renewal_off'] = act['renewal_off'].astype(int)
act['renewal_off_subs'] = act['renewal_off_subs'].astype(int)
act['new_trials'] = act['new_trials'].astype(int)
act['prolonged_trials'] = act['prolonged_trials'].astype(int)
act['churned_trials'] = act['churned_trials'].astype(int)
# act['active_codes_recurrent'] = act['active_codes_recurrent'].astype(int)
act['new_codes'] = act['new_codes'].astype(int)
act['prolongs_codes'] = act['prolongs_codes'].astype(int)
act['churned_codes'] = act['churned_codes'].astype(int)
act['new_codes_b2b'] = act['new_codes_b2b'].astype(int)
act['dau_paid'] = act['dau_paid'].astype(int)
act['dau_b2b'] = act['dau_b2b'].astype(int)
act.T

/var/folders/sl/4slwjbhd1rz6q3665v1k847c0000gn/T/ipykernel_72904/636092021.py:23: TqdmDeprecationWarning: This function will be removed in tqdm==5.0.0
Please use `tqdm.notebook.tqdm` instead of `tqdm.tqdm_notebook`
  for i, date in tqdm_notebook(enumerate(act['dt'].astype(str).values)):

0it [00:00, ?it/s]

,0,1,2,3,4,5,6,7
dt,2024-08-12 00:00:00,2024-08-13 00:00:00,2024-08-14 00:00:00,2024-08-15 00:00:00,2024-08-16 00:00:00,2024-08-17 00:00:00,2024-08-18 00:00:00,2024-08-19 00:00:00
vis,15661,16373,15450,15899,15345,15598,15558,3403
reg,683,648,602,650,548,605,554,129
daily,2574,2489,2270,2442,2213,2395,2243,448
wau,13453,12645,12163,11643,11218,11047,10746,9606
mau,37250,37296,37309,37384,37310,37373,37304,36623
renewal_off,64,67,68,50,59,58,65,0
renewal_off_subs,54,53,51,24,44,38,54,0
new_trials,50,53,57,64,51,65,171,0
prolonged_trials,15,17,13,14,13,10,18,0
churned_trials,37,35,44,35,36,37,53,6
new_codes,129,118,112,129,95,91,4,0
prolongs_codes,28,48,51,40,31,30,29,0
churned_codes,75,87,90,91,94,92,83,117
new_codes_b2b,29,24,17,16,9,13,0,0
dau_paid,212,233,189,219,179,215,178,40
dau_b2b,191,179,153,168,148,174,140,29

##### B2B subs

In [10]:
subs = pd.read_sql('''
select
    u.id,
        s.id as sub,
        u.email,
        u.phone_number,
        cast(u.created_at as date) as reg_date,
        s.state,
        recurrent,
        s.offer_id,
        cast(s.created_at as date),
        cast(s.ends_at as date),
        cast(s.ends_at as date) - cast(s.created_at as date) as dur,
        pc.title as promo_code,
        bp.title as bonus_title,
        ub.type as bonus_type,
        cast(ub.activated_at as date),
        cast(ub.starts_at as date),
        cast(ub.ends_at as date) as bonus_ends,
        cast(ub.ends_at as date) - cast(ub.starts_at as date) as bonus_dur,
        r.pays[2:] as all_prolong_dates,
        case when len > 0
            then
                to_json(r.pays)->-1 
            else 
                NULL
        end as last_prolong_date,
        (
            SELECT 
                string_agg(to_char(invoices.paid_at AT TIME ZONE 'UTC' AT TIME ZONE 'Europe/Moscow', 'YYYY-MM-DD'), ', ')
            FROM 
                (SELECT * FROM invoices ORDER BY subscription_id, paid_at) invoices
            WHERE 
                invoices.deleted_at IS NULL
                AND invoices.paid_at IS NOT NULL
                AND invoices.payment_target = 'trial_period'
                AND invoices.subscription_id = s.id
            GROUP BY invoices.subscription_id
        )            
        AS trial_date,
        r.pays,
        r.money,
        r.durations,
        targets,
        r.len
FROM subscriptions s
INNER JOIN users u on (u.id = s.user_id AND u.deleted_at IS NULL AND u.user_type = 'regular' and u.vipplay=False)
left join user_bonuses ub on (ub.user_id = u.id and ub.deleted_at is null and ub.initiator_type = 'PromoCodeActivation' and ub.activated_at is not null)
left join promo_code_activations pca on pca.user_bonus_id = ub.id and pca.deleted_at is null
left join promo_codes pc on pc.id = pca.promo_code_id and pc.deleted_at is null
left join bonus_programs bp on bp.id = pc.bonus_program_id and bp.deleted_at is null
left join 
    (
        select 
            user_id,
            array_remove(array_agg(cast(i2.paid_at as date) order by i2.paid_at),NULL) as pays,
            array_remove(array_agg(i2.payment_target order by i2.paid_at),NULL) as targets,
            array_remove(array_agg(i2.price_cents order by i2.paid_at),NULL) as money, -- список всех сумм из счетов,
            array_remove(array_agg(cast(i2.period_end as date) - cast(i2.paid_at as date) order by i2.paid_at),NULL) as durations,
            cardinality(array_remove(array_agg(cast(i2.paid_at as date)),NULL)) - 1 as len -- сколько было реальных оплат
        from subscriptions s2 
        left join invoices i2 on (i2.subscription_id = s2.id and i2.deleted_at is null and i2.paid_at is not null)
        where s2.deleted_at is null
        group by user_id
    ) r on r.user_id = u.id
where 
    s.deleted_at is null
    and state != 'initial'
    and pca.multiple = False
    and ub.type = 'PromoCodes::Bonus'
    and (u.email not like '%%@test%%' or phone_number is not null)
    and cast(u.created_at as date) >= '2022-01-01'
''',con=con)
print(subs.shape)
subs.head(3)

(17681, 26)

,id,sub,email,phone_number,reg_date,state,recurrent,offer_id,created_at,ends_at,dur,promo_code,bonus_title,bonus_type,activated_at,starts_at,bonus_ends,bonus_dur,all_prolong_dates,last_prolong_date,trial_date,pays,money,durations,targets,len
0,000f1535-dc99-4caa-93ec-bd0ec884e49b,b9d1ed48-8aa6-47d8-86a0-fff4076bb525,ekaterrina@inbox.ru,None,2024-04-19,normal_period,False,f9371260-a388-4979-8779-c67d8abfda5f,2024-04-19,2025-04-19,365,E2T0ZGJK,Гудпринт_12месяцев_26февраля2024_Выборы,PromoCodes::Bonus,2024-04-19,2024-04-19,2025-04-19,365,[],None,None,[],[],[],[],-1
1,001e2972-9f78-474a-a118-a08fe2b66f22,8bb824b8-5a50-4550-8594-03b9beacdf5d,None,79528569993,2023-10-07,normal_period,False,f9371260-a388-4979-8779-c67d8abfda5f,2023-10-07,2024-10-08,367,P03SM9JC,Подписка viju 12 месяц_МВидео_29марта_2023г,PromoCodes::Bonus,2023-10-08,2023-10-08,2024-10-08,366,[],None,None,[],[],[],[],-1
2,0020da37-9899-40b1-828d-eec18470de0d,27c7cfcd-35d5-4a4b-9af9-a009f408d94a,None,79053157188,2022-10-29,normal_period,False,f9371260-a388-4979-8779-c67d8abfda5f,2022-10-29,2024-10-30,732,MWHUZOJV,Подписка viju 12 месяц_МВидео_29марта_2023г,PromoCodes::Bonus,2023-07-01,2023-10-30,2024-10-30,366,[],None,None,[],[],[],[],-1

In [11]:
res = subs.copy()

In [12]:
act = pd.DataFrame()
act['dt'] = pd.date_range(start='08/12/2024', end='08/19/2024')
act['dt'] = act['dt'].apply(lambda x: x.to_pydatetime())
act['active_codes'] = 0
act['cards1m'] = 0
act['cards45d'] = 0
act['cards3m'] = 0
act['cards6m'] = 0
act['cards12m'] = 0
act['cards24m'] = 0
res['starts_at'] = pd.to_datetime(res['starts_at'])
res['bonus_ends'] = pd.to_datetime(res['bonus_ends'])

for i, row in tqdm_notebook(act.iterrows()):
    for j, r in res.iterrows():
        if (row['dt'] >= (r['starts_at']))  & ((r['bonus_ends']) >= row['dt']):
            act.loc[i, 'active_codes'] += 1
            if res['bonus_dur'][j] >=27 and res['bonus_dur'][j]<=35:
                act.loc[i, 'cards1m'] += 1
            if (res['bonus_dur'][j] >=88 and res['bonus_dur'][j]<=93):
                act.loc[i, 'cards3m'] += 1
            if (res['bonus_dur'][j] >=178 and res['bonus_dur'][j]<=185):
                act.loc[i, 'cards6m'] += 1
            if (res['bonus_dur'][j] >=363 and res['bonus_dur'][j]<=367):
                act.loc[i, 'cards12m'] += 1
            if (res['bonus_dur'][j] ==45):
                act.loc[i, 'cards45d'] += 1
            if (res['bonus_dur'][j] >=380):
                act.loc[i, 'cards24m'] += 1
act.T

/var/folders/sl/4slwjbhd1rz6q3665v1k847c0000gn/T/ipykernel_72904/3497606083.py:14: TqdmDeprecationWarning: This function will be removed in tqdm==5.0.0
Please use `tqdm.notebook.tqdm` instead of `tqdm.tqdm_notebook`
  for i, row in tqdm_notebook(act.iterrows()):

0it [00:00, ?it/s]

,0,1,2,3,4,5,6,7
dt,2024-08-12 00:00:00,2024-08-13 00:00:00,2024-08-14 00:00:00,2024-08-15 00:00:00,2024-08-16 00:00:00,2024-08-17 00:00:00,2024-08-18 00:00:00,2024-08-19 00:00:00
active_codes,6477,6500,6511,6520,6506,6506,6502,6496
cards1m,19,19,19,19,19,19,20,20
cards45d,0,0,0,0,0,0,0,0
cards3m,126,127,128,129,119,119,118,119
cards6m,1300,1318,1325,1328,1327,1324,1320,1314
cards12m,4577,4582,4584,4587,4588,4590,4592,4591
cards24m,439,439,440,442,442,443,444,444

##### B2C subs

In [14]:
df1 = pd.read_sql('''
--
                 select
                    *
                 from datamarts.marketing_dash_distr
                 where 
                 payer = 1
 ''',con=al)

In [15]:
act = pd.DataFrame()
act['dt'] = pd.date_range(start='07/29/2024', end='08/04/2024')

act['subs'] = 0

df1['first_prolong_date'] = pd.to_datetime(df1['first_prolong_date'])
df1['ends_at'] = pd.to_datetime(df1['ends_at'])

df1 = df1[df1['first_prolong_date'].notna() & df1['ends_at'].notna()]

import numpy as np

dates = act['dt'].values
start_dates = df1['first_prolong_date'].values
end_dates = df1['ends_at'].values

subs = np.zeros_like(dates, dtype=int)
for start, end in zip(start_dates, end_dates):
    subs += (dates >= start) & (dates <= end)

act['subs'] = subs

act.T

,0,1,2,3,4,5,6
dt,2024-07-29 00:00:00,2024-07-30 00:00:00,2024-07-31 00:00:00,2024-08-01 00:00:00,2024-08-02 00:00:00,2024-08-03 00:00:00,2024-08-04 00:00:00
subs,4886,4897,4897,4933,4936,4948,4962